<div class="row">

    <div class="col-md-4">
        <div class="card bg-primary text-white mb-3">
            <div class="card-body">
                <h5>Manage Users</h5>
                <a href="{% url 'admin_manage_users' %}" class="btn btn-light">Go</a>
            </div>
        </div>
    </div>

    <div class="col-md-4">
        <div class="card bg-success text-white mb-3">
            <div class="card-body">
                <h5>Manage Quizzes</h5>
                <a href="{% url 'admin_manage_quizzes' %}" class="btn btn-light">Go</a>
            </div>
        </div>
    </div>

</div>